.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  color: #353799;
}

.contact-container h2 {
  color: #353799;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-container p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-container a {
  color: #5399E8;
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}
