.privacy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  color: #353799;
}

.privacy-container h1 {
  color: #353799;
  font-size: 2rem;
  margin-bottom: 20px;
}

.privacy-container p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.privacy-container ul {
  list-style: disc;
  margin-left: 20px;
}

.privacy-container a {
  color: #5399E8;
  text-decoration: none;
}

.privacy-container a:hover {
  text-decoration: underline;
}
